emotion_venv
*maps*
wandb/*
src/wandb/*
*/__pycache__/*
.vscode/*
*.pyc
src/__pycache__/audio_training.cpython-37.pyc
_*.pkl
*.vector_cache/*
utils/.vector_cache*
data/*
*.csv
*.pkl
*.icloud
*.DS_Store
!data/HatefulMemes.pkl
!data/SarcasmVideos.pkl
!data/emotion_pd_raw.pkl
SingleModels/run_slurm/wandb/*
SingleModels/run_slurm/.vector_cache/*
SingleModels/run_slurm/.vector_cache/*
SingleModels/run_slurm/wandb/*


SingleModels/train_model/__init__.py
SingleModels/run_slurm/core*
